<!DOCTYPE html>
<html>
    <head>
        <title> Spam Classification</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/spam.js"></script>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <ul>
                    <li><a href="#">SPAM CLASSIFICATION</a></li>
                </ul>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Links</a></li>
                </ul>
            </div>
            
            <div class="submit-email-content">
                <h1>ENTER AN EMAIL</h1>
                <br>
                <label for="freeform"></label>
                <br>
                <textarea id="freeform" name="freeform" rows="4" cols="50">Enter your sample email here...</textarea>
                <div>
                    <button type="button"><span></span>Submit</button>
                </div>
            </div>
            <div class="classification">
                <p>classfied as</p>
            </div>
        </div>
    </body>
</html>